<!-- Gears Section -->
<section id="gears" class="container content-section text-center">
    <h2>The Gears</h2>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a href="https://turo.com/rentals/suvs/ca/pleasanton/toyota-sequoia/268207" target="_blank">
                    <img class="htr-vehicle-images" src="/img/toy-sequoia-2016a-333x250.jpg">
                </a>
                <div class="caption" id="htr-vehicle1-caption">
                    <h4>2016 Toyota Sequoia 4WD</h4>
                    <p class="htr-vehicles-caption-desc">Reach your destination with a powerful 5.7L V8 engine and available Multi-Mode 4WD system.</p>
                    <p class="htr-vehicles-action-btn">
                        <a href="https://turo.com/rentals/suvs/ca/pleasanton/toyota-sequoia/268207" target="_blank" class="btn btn-primary btn-sm" role="button">Rent</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a href="https://turo.com/rentals/suvs/ca/pleasanton/toyota-sequoia/267832?s=wPmoMAqT" target="_blank">
                    <img src="/img/toy-sequoia-2011a-333x250.jpg">
                </a>
                <div class="caption" id="htr-vehicle2-caption">
                    <h4>2011 Toyota Sequoia 4WD</h4>
                    <p class="htr-vehicles-caption-desc">The eight-passenger seating offers plenty of room and comfort for your family and friends.</p>
                    <p class="htr-vehicles-action-btn">
                        <a href="https://turo.com/rentals/suvs/ca/pleasanton/toyota-sequoia/267832?s=wPmoMAqT" target="_blank" class="btn btn-primary btn-sm" role="button">Rent</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a href="http://www.nationalgeographicexpeditions.com/expeditions/yosemite-national-park/detail" target="_blank">
                    <img class="htr-vehicle-images" src="/img/gear-rentals-333x250.jpg">
                </a>
                <div class="caption">
                    <h4>Gear Rentals</h4>
                    <p class="htr-vehicles-caption-desc">Available for rent are cargo boxes, ski & snowboarding racks, bike racks, tents, camp stoves, and many more gears for your adventure.
                        Let us know what you need and we'll get them ready by the time you pick up the vehicle.</p>
                    < class="htr-vehicles-action-btn">
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a href="https://turo.com/rentals/suvs/ca/pleasanton/toyota-sequoia/268207" target="_blank">
                    <img class="htr-vehicle-images" src="/img/toy-sequoia-2016a-333x250.jpg">
                </a>
                <div class="caption" id="htr-vehicle1-caption">
                    <h4>2016 Toyota Sequoia 4WD</h4>
                    <p class="htr-vehicles-caption-desc">Reach your destination with a powerful 5.7L V8 engine and available Multi-Mode 4WD system.</p>
                    <p class="htr-vehicles-action-btn">
                        <a href="https://turo.com/rentals/suvs/ca/pleasanton/toyota-sequoia/268207" target="_blank" class="btn btn-primary btn-sm" role="button">Rent</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a href="https://turo.com/rentals/suvs/ca/pleasanton/toyota-sequoia/267832?s=wPmoMAqT" target="_blank">
                    <img src="/img/toy-sequoia-2011a-333x250.jpg">
                </a>
                <div class="caption" id="htr-vehicle2-caption">
                    <h4>2011 Toyota Sequoia 4WD</h4>
                    <p class="htr-vehicles-caption-desc">The eight-passenger seating offers plenty of room and comfort for your family and friends.</p>
                    <p class="htr-vehicles-action-btn">
                        <a href="https://turo.com/rentals/suvs/ca/pleasanton/toyota-sequoia/267832?s=wPmoMAqT" target="_blank" class="btn btn-primary btn-sm" role="button">Rent</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a href="http://www.nationalgeographicexpeditions.com/expeditions/yosemite-national-park/detail" target="_blank">
                    <img class="htr-vehicle-images" src="/img/gear-rentals-333x250.jpg">
                </a>
                <div class="caption">
                    <h4>Gear Rentals</h4>
                    <p class="htr-vehicles-caption-desc">Available for rent are cargo boxes, ski & snowboarding racks, bike racks, tents, camp stoves, and many more gears for your adventure.
                        Let us know what you need and we'll get them ready by the time you pick up the vehicle.</p>
                    < class="htr-vehicles-action-btn">
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>
