    <!-- Vehicles Section -->
    <section id="vehicles" class="container content-section text-center">
        <div class="row">
            <!--<h2>The Vehicles</h2>-->
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="https://www.outdoorsy.co/rv-rental/pleasanton_ca/2016_toyota_sequoia_13607-listing" target="_blank">
                        <img class="htr-vehicle-images" src="/img/suvs/toy-sequoia-2016a-333x250.jpg">
                    </a>
                    <div class="caption" id="htr-vehicle1-caption">
                        <h5>2016 Toyota Sequoia 4WD</h5>
                        <p class="htr-vehicles-caption-desc">Reach your destination with a powerful 5.7L V8 engine and available Multi-Mode 4WD system.</p>
                        <p class="htr-vehicles-action-btn">
                            <a href="https://www.outdoorsy.co/rv-rental/pleasanton_ca/2016_toyota_sequoia_13607-listing" target="_blank" class="btn btn-primary btn-sm" role="button">View Listing</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="https://www.outdoorsy.co/rv-rental/pleasanton_ca/2011_toyota_sequoia_13608-listing" target="_blank">
                        <img src="/img/suvs/toy-sequoia-2011a-333x250.jpg">
                    </a>
                    <div class="caption" id="htr-vehicle2-caption">
                        <h5>2011 Toyota Sequoia 4WD</h5>
                        <p class="htr-vehicles-caption-desc">The eight-passenger seating offers plenty of room and comfort for your family and friends.</p>
                        <p class="htr-vehicles-action-btn">
                            <a href="https://www.outdoorsy.co/rv-rental/pleasanton_ca/2011_toyota_sequoia_13608-listing" target="_blank" class="btn btn-primary btn-sm" role="button">View Listing</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="https://www.outdoorsy.co/rv-rental/pleasanton_california/2017_winnebago_micro-minnie-1700-bh_14055-listing" target="_blank">
                        <img class="htr-vehicle-images" src="/img/rvs/winnebago-mm1700bh-exterior-333x250.jpg">
                    </a>
                    <div class="caption" id="htr-vehicle3-caption">
                        <h5>2017 Winnebago Micro Minnie 1700BH</h5>
                        <p class="htr-vehicles-caption-desc">Enjoy the outdoor in this beautiful and comfortable trailer that can sleep up to 5.</p>
                        <p class="htr-vehicles-action-btn">
                            <a href="https://www.outdoorsy.co/rv-rental/pleasanton_california/2017_winnebago_micro-minnie-1700-bh_14055-listing" target="_blank" class="btn btn-primary btn-sm" role="button">View Listing</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="https://www.outdoorsy.co/rv-rental/pleasanton_california/2017_winnebago_winnie-drop_17539-listing" target="_blank">
                        <img src="/img/rvs/winnebago-wd170k-exterior-333x250.jpg">
                    </a>
                    <div class="caption" id="htr-vehicle4-caption">
                        <h5>2017 Winnebago Winnie Drop 170K</h5>
                        <p class="htr-vehicles-caption-desc">This tear drop with an outdoor kitchen can accommodate up to 4 comfortably.</p>
                        <p class="htr-vehicles-action-btn">
                            <a href="https://www.outdoorsy.co/rv-rental/pleasanton_california/2017_winnebago_winnie-drop_17539-listing" target="_blank" class="btn btn-primary btn-sm" role="button">View Listing</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="#">
                        <img class="htr-vehicle-images" src="/img/gear-rentals-333x250.jpg">
                    </a>
                    <div class="caption">
                        <h5>Gear Rentals</h5>
                        <p class="htr-vehicles-caption-desc">Available for rent are cargo boxes, ski & snowboarding racks, bike racks, tents, camp stoves, and many more gears for your adventure.
                            Let us know what you need and we'll get them ready by the time you pick up the vehicle.</p>
                        <!--<p class="htr-vehicles-action-btn">-->
                            <!--<a href="https://turo.com/rentals/suvs/ca/pleasanton/toyota-sequoia/267832?s=wPmoMAqT" target="_blank" class="btn btn-primary btn-sm" role="button">View Gears</a>-->
                        <!--</p>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
