    <!-- Vehicles Section -->
    <section id="vehicles" class="container content-section text-center">

        <div class="row">
            <h2>The Vehicles</h2>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="https://www.outdoorsy.com/rv-rental/pleasanton_ca/2021_forest-river_ibex_184750-listing" target="_blank">
                        <img src="/img/rvs/2021-fr-ibex-20bhs-exterior-359-250.png">
                    </a>
                    <div class="caption" id="htr-vehicle3-caption">
                        <h6>2021 Forest River Ibex 20BHS</h6>
                        <p class="htr-vehicles-caption-desc">This immaculate trailer with a spacious slideout offers all of the comforts of home.</p>
                        <p class="htr-vehicles-action-btn">
                            <a href="https://www.outdoorsy.com/rv-rental/pleasanton_ca/2021_forest-river_ibex_184750-listing" target="_blank"
                            class="btn btn-primary btn-sm" role="button">View Listing</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="https://www.outdoorsy.com/rv-rental/pleasanton_ca/2020_forest-river_vibe_158956-listing" target="_blank">
                        <img src="/img/rvs/2020-frvibe-17db-exterior-359-250.png">
                    </a>
                    <div class="caption" id="htr-vehicle3-caption">
                        <h6>2020 Forest River Vibe 17DB</h6>
                        <p class="htr-vehicles-caption-desc">Go out and explore in this beautiful trailer with plenty of space that can sleep up to 7.</p>
                        <p class="htr-vehicles-action-btn">
                            <a href="https://www.outdoorsy.com/rv-rental/pleasanton_ca/2020_forest-river_vibe_158956-listing" target="_blank"
                            class="btn btn-primary btn-sm" role="button">View Listing</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="https://www.outdoorsy.com/rv-rental/pleasanton_ca/2019_forest-river_r-pod_150382-listing" target="_blank">
                        <img src="/img/rvs/2019-rpod-exterior-359-250.png">
                    </a>
                    <div class="caption" id="htr-vehicle3-caption">
                        <h6>2019 Forest River RPod 190</h6>
                        <p class="htr-vehicles-caption-desc">10th year anniversary model.  Awesome trailer for glamping that can sleep up to 4 comfortably.</p>
                        <p class="htr-vehicles-action-btn">
                            <a href="https://www.outdoorsy.com/rv-rental/pleasanton_ca/2019_forest-river_r-pod_150382-listing" target="_blank"
                            class="btn btn-primary btn-sm" role="button">View Listing</a>
                        </p>
                    </div>
                </div>
            </div>

            <!-- <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="https://www.outdoorsy.com/rv-rental/pleasanton_ca/2018_winnebago_micro-minnie_47074-listing" target="_blank">
                        <img src="/img/rvs/2018-winnebago-mm-1700bh-359-250.jpg">
                    </a>
                    <div class="caption" id="htr-vehicle7-caption">
                        <h6>2018 Winnebago Micro Minnie 1700BH</h6>
                        <p class="htr-vehicles-caption-desc">Bluey, the Micro Minnie will provide all the comfort for your next road adventure.</p>
                        <p class="htr-vehicles-action-btn">
                            <a href="https://www.outdoorsy.com/rv-rental/pleasanton_ca/2018_winnebago_micro-minnie_47074-listing" target="_blank"
                            class="btn btn-primary btn-sm" role="button">View Listing</a>
                        </p>
                    </div>
                </div>
            </div> -->

            <!-- <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="https://www.outdoorsy.com/rv-rental/pleasanton_ca/2018_starcraft_satellite_43787-listing" target="_blank">
                        <img src="/img/rvs/starcraft-satellite-16ks-359x250.png">
                    </a>
                    <div class="caption" id="htr-vehicle7-caption">
                        <h6>2018 Starcraft Satellite 16KS</h6>
                        <p class="htr-vehicles-caption-desc">Create memories that will last forever.  This awesome, small trailer is perfect for couples wanting to getaway and enjoy nature.</p>
                        <p class="htr-vehicles-action-btn">
                            <a href="https://www.outdoorsy.com/rv-rental/pleasanton_ca/2018_starcraft_satellite_43787-listing" target="_blank"
                            class="btn btn-primary btn-sm" role="button">View Listing</a>
                        </p>
                    </div>
                </div>
            </div> -->

            <!-- <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="https://www.outdoorsy.com/rv-rental/pleasanton_ca/2018_forest-river_sonoma_42925-listing" target="_blank">
                        <img src="/img/rvs/forest-river-sonoma-167bh-359x250.png">
                    </a>
                    <div class="caption" id="htr-vehicle6-caption">
                        <h6>2018 Forest River Sonoma 167BH</h6>
                        <p class="htr-vehicles-caption-desc">The Sonoma makes camping easy with the convenient power package.  Setting up is a breeze so you can relax and enjoy your time with family.</p>
                        <p class="htr-vehicles-action-btn">
                            <a href="https://www.outdoorsy.com/rv-rental/pleasanton_ca/2018_forest-river_sonoma_42925-listing" target="_blank"
                            class="btn btn-primary btn-sm" role="button">View Listing</a>
                        </p>
                    </div>
                </div>
            </div> -->

            <!-- <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="https://www.outdoorsy.com/rv-rental/pleasanton_ca/2018_heartland_mallard_41412-listing" target="_blank">
                        <img src="/img/rvs/heartland-mallard-185bh-359x250.png">
                    </a>
                    <div class="caption" id="htr-vehicle5-caption">
                        <h6>2018 Heartland Mallard 185BH</h6>
                        <p class="htr-vehicles-caption-desc">This immaculate RV offers all of the comforts of home in a convenient compact camper.</p>
                        <p class="htr-vehicles-action-btn">
                            <a href="https://www.outdoorsy.com/rv-rental/pleasanton_ca/2018_heartland_mallard_41412-listing" target="_blank"
                            class="btn btn-primary btn-sm" role="button">View Listing</a>
                        </p>
                    </div>
                </div>
            </div> -->

            <!-- <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="https://www.outdoorsy.co/rv-rental/pleasanton_california/2017_winnebago_winnie-drop_17539-listing" target="_blank">
                        <img src="/img/rvs/winnebago-wd170k-359x250.png">
                    </a>
                    <div class="caption" id="htr-vehicle4-caption">
                        <h6>2017 Winnebago Winnie Drop 170K</h6>
                        <p class="htr-vehicles-caption-desc">This tear drop with an outdoor kitchen can accommodate up to 4 comfortably.</p>
                        <p class="htr-vehicles-action-btn">
                            <a href="https://www.outdoorsy.co/rv-rental/pleasanton_california/2017_winnebago_winnie-drop_17539-listing" target="_blank"
                            class="btn btn-primary btn-sm" role="button">View Listing</a>
                        </p>
                    </div>
                </div>
            </div> -->

            <!-- <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="https://www.outdoorsy.co/rv-rental/pleasanton_california/2017_winnebago_micro-minnie-1700-bh_14055-listing" target="_blank">
                        <img src="/img/rvs/winnebago-mm1700bh-359x250.png">
                    </a>
                    <div class="caption" id="htr-vehicle3-caption">
                        <h6>2017 Winnebago Micro Minnie 1700BH</h6>
                        <p class="htr-vehicles-caption-desc">Enjoy the outdoor in this beautiful and comfortable trailer that can sleep up to 5.</p>
                        <p class="htr-vehicles-action-btn">
                            <a href="https://www.outdoorsy.co/rv-rental/pleasanton_california/2017_winnebago_micro-minnie-1700-bh_14055-listing" target="_blank"
                            class="btn btn-primary btn-sm" role="button">View Listing</a>
                        </p>
                    </div>
                </div>
            </div> -->

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="https://www.outdoorsy.co/rv-rental/pleasanton_ca/2016_toyota_sequoia_13607-listing" target="_blank">
                        <img src="/img/suvs/toy-sequoia-2016-359x250.png">
                    </a>
                    <div class="caption" id="htr-vehicle1-caption">
                        <h6>2016 Toyota Sequoia 4WD</h6>
                        <p class="htr-vehicles-caption-desc">Reach your destination with a powerful 5.7L V8 engine and available Multi-Mode 4WD system.</p>
                        <p class="htr-vehicles-action-btn">
                            <a href="https://www.outdoorsy.co/rv-rental/pleasanton_ca/2016_toyota_sequoia_13607-listing" target="_blank" class="btn btn-primary btn-sm" role="button">View Listing</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="https://www.outdoorsy.co/rv-rental/pleasanton_ca/2011_toyota_sequoia_13608-listing" target="_blank">
                        <img src="/img/suvs/toy-sequoia-2011-359x250.png">
                    </a>
                    <div class="caption" id="htr-vehicle2-caption">
                        <h6>2011 Toyota Sequoia 4WD</h6>
                        <p class="htr-vehicles-caption-desc">The eight-passenger seating offers plenty of room and comfort for your family and friends.</p>
                        <p class="htr-vehicles-action-btn">
                            <a href="https://www.outdoorsy.co/rv-rental/pleasanton_ca/2011_toyota_sequoia_13608-listing" target="_blank" class="btn btn-primary btn-sm" role="button">View Listing</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div>
                        <img class="htr-gear-rentals-img" src="/img/gear-rentals-359x250.png">
                    </div>
                    <div class="caption">
                        <h6>Gear Rentals</h6>
                        <p class="htr-gear-rentals-desc">Available for rent are cargo boxes, ski & snowboarding racks, bike racks, tents, camp stoves, and many more gears for your adventure.
                            Let us know what you need and we'll get them ready by the time you pick up the vehicle.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
